body {
    margin: 0px;
    padding: 0px;
    clear: both;
    font-family:
        "Open Sans",
        sans-serif
}


#topHeader {
    height: 42px;
    background-color: azure;
}

.col-10,
.col-20,
.col-30,
.col-40,
.col-50,
.col-60,
.col-70,
.col-80,
.col-90,
.col-100 {
    float: left;
    display: inline-block;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

.col-100 {
    width: 100%;
}

.ib {
    display: inline-block;
    float: left;
}



/*
=====================================
         HEADER CSS
=====================================
*/

header {
    width: 100%;
    float: left;
}

.fa-envelope,
.fa-mobile {
    color: #5cb874;
}

.email,
.phone {
    padding-left: 5px;
}

.ep .item {
    margin-right: 10px;
    float: left;
}

.facebook,
.twitter,
.instagram,
.linkedin {
    padding: 0px 5px;
    float: right;
}

.menu-wrapper {
    text-align: right;
}

.menu-wrapper ul {
    list-style-type: none;
}

.menu-wrapper ul li {
    display: inline-block;
}


.link {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    border-radius: 4px;
    text-transform: capitalize;
}


#main {
    min-height: 100vh;
    background: gray;
}